.inputGroup 			  { 
    position:relative; 
    /* margin-bottom:20px;  */
  }
  .inputField 				{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:100%;
    border:none;
    border-bottom:2px solid #c9c7c7;
  }
  .inputField:focus {
     outline:none;
     background-color: #dfdcdc81;
     border-radius: 2px;
 }
  
  /* LABEL ======================================= */
  .inputLabel 				 {
    color:#999; 
    font-size:12px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:10px;
    top:22px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  
  /* active state */
  .inputField:focus ~ .inputLabel, .inputField:valid ~ .inputLabel 		{
    top:-17px;
    left:0px;
    font-size:13px;
    color:#0B79BF;
  }
  
  /* BOTTOM BARS ================================= */
  .bar 	{ position:relative; display:block; width:100%; }
  .bar:before, .bar:after 	{
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background:#0B79BF; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  .bar:before {
    left:50%;
  }
  .bar:after {
    right:50%; 
  }
  
  /* active state */
  .inputField:focus ~ .bar:before, .inputField:focus ~ .bar:after {
    width:50%;
  }
  
  /* HIGHLIGHTER ================================== */
  .highlight {
    position:absolute;
    height:60%; 
    width:100px; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
  }
  
  /* active state */
  .inputField:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }




  input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #0B79BF;
    border-radius: 50%;
    margin-right: 10px;
    background-color: transparent;
    position: relative;
    /* top: 6px; */
  }
  
  input[type="radio"]:checked::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: #0B79BF;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: appear 0.8s;
  }
  
  /* ANIMATIONS ================ */
  @-webkit-keyframes inputHighlighter {
      from { background:#0B79BF; }
    to 	{ width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
      from { background:#0B79BF; }
    to 	{ width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
      from { background:#0B79BF; }
    to 	{ width:0; background:transparent; }
  }
  @keyframes appear {
    0% {
      transform: translate(-50%, -50%) scale(0);
      background-color: #fff;
    }
    45% {
      transform: translate(-50%, -50%) scale(1.6);
      background-color: #64aedf;
    }
    50% {
      transform: translate(-50%, -50%) scale(1.7);
      background-color: #ad97b3;
    }
    55% {
      transform: translate(-50%, -50%) scale(1.6);
    }
    100% {
      transform: translate(-50%, -50%) scale(1);
      background-color: #ca8489;
    }
  }